<form action="/pins" method="post">
  <label for="pin_name">Title</label>
  <input type="text" name="title" id="pin_name"/>
  <label for="pin_description">Description</label>
  <input type="text" name="description" id="pin_description" value="" />
  <input type="submit" name="" id="" value="Add Pin" />
</form>
